<body class="home page-id-182 woocommerce-no-js elementor-default homepage-template">
  <div class="header-top homepage " data-sticky="0" data-sticky-mobile="1" data-sticky-to="top">
    <div class="navigation-wrapper ope-front-page" style="position: relative;">
      <div class="logo_col">
        <a class="text-logo" href="#"> {{t.rental_house}} <span style="font-weight: 300;" class="span12">
            Osmany</span></a>
      </div>
      <div class="text-header-menu">
        <a href="javascript:void(0)" id="btnGalery" class="galeria"> {{t.Galery}} </a> |
        {{#if langEn}}
        <a href="/?clang=es" class="languagee"> {{t.SPANISH}} </a>
        {{else}}
        <a href="/?clang=en" class="languagee"> {{t.ENGLISH}} </a>
        {{/if}}
      </div>
    </div>
  </div>
  <div id="page" class="site">
    <div class="header-wrapper">
      <div class="header-homepage  color-overlay" style='background-image:url("rsc/img/DSC04542.JPG");'
        data-parallax-depth="20">
        <div class="header-description gridContainer content-on-right">
          <div class="row header-description-row">
            <div class="header-content header-content-right">
              <div class="align-holder">
                <p class="header-subtitle"> {{t.subtitle}} </p>
                <div class="header-buttons-wrapper"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-separator header-separator-bottom ">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
          <path class="svg-white-bg" d="M737.9,94.7L0,0v100h1000V0L737.9,94.7z" />
        </svg>
      </div>
    </div>

    <div class="content">
      <div class="page-content">
        <div id="about-1" style="background-color: #ffffff;" data-label="About" data-id="about-big-images-section"
          data-category="about" class="about-big-images-section">
          <div class="gridContainer">
            <div class="about-big-images-textrow">
              <div class="about-big-images-textcol dynamic-color" data-type="column">
                <h5 class=""></h5>
                <h3 class="titleOne animated" style="opacity: 0;">
                  {{t.titleOne_1}} &nbsp;<span href="#" class="span25"> {{t.titleOne_2}} </span>&nbsp;{{t.to}}
                  {{t.titleOne_3}}
                </h3>
                <p class="textOne animated" style="opacity: 0;">
                  {{t.titleOne_4}}
                </p>
              </div>
            </div>
          </div>
          <div class="img-section-one">
            <div>
              <img class="" src="rsc/img/DSC04431.JPG" />
            </div>
            {{!-- <div>
              <img class="" src="rsc/img/terraza.jpeg" />
              <img class="" src="rsc/img/balcon.jpeg" />
            </div> --}}
          </div>
        </div>
        <div id="content-3" style="background-color: #f6f6f6;" data-label="Content" data-id="content-image-left"
          data-category="content" class="content-left-image-section">
          <div class="gridContainer imgTwo">
            <div class="row">
              <div class="content-left-image-imgcol" data-type="column"><img src="rsc/img/DSC04348.JPG" /></div>
              <div class="content-left-image-textcol dynamic-color treeOne" data-type="column">
                <h2 class="animated " style="opacity: 0;"> {{t.content3}} </h2>
                <p class="large_text animated " style="opacity: 0;">
                  {{t.content3_sub}}
                </p>
                <button id="btnRooms" class="button blue animated " style="opacity: 0;"> {{t.viewMore}}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div id="content-4" style="background-color: #ffffff;" data-label="Content" data-id="content-image-right"
          data-category="content" class="content-right-image-section">
          <div class="gridContainer">
            <div class="content-right-image-gridcol imgThree">
              <div class="content-right-image-textcol dynamic-color treeTwo" data-type="column">
                <h2 class="animated " style="opacity: 0;"> {{t.content4}} </h2>
                <p class="large_text animated " style="opacity: 0;"></p>

                <button id="btnKitchen" class="button blue animated " style="opacity: 0;"> {{t.viewMore}}
                </button>
              </div>
              <div class="content-right-image-imgcol" data-type="column"><img src="rsc/img/DSC04499.JPG" class="" />
              </div>
            </div>
          </div>
        </div>
        <div data-label="Features" data-id="features-image-cards-section" data-category="features"
          class="features-image-cards-section" style="background-color: #f6f6f6;" id="features-2">
          <div class="gridContainer">
            <div class="features-image-cards-textrow">
              <div class="features-image-cards-textcol dynamic-color" data-type="column"></div>
            </div>
            <div class="features-image-cards-innerrow flexbox-list dark-text treeThree" data-type="row">
              <div class="features-image-cards-cardcol cp4cols cp6cols-tablet animated " style="opacity: 0;">
                <div class="features-image-cards-cardrow">
                  <img class="features-image-cards-featimg" src="rsc/img/exclusive.jpeg" />
                  <div class="features-image-cards-cardtextrow" data-type="column">
                    <h4 class=""> {{t.Exclusive}} </h4>
                    <p class=""> {{t.features}} </p>

                    <hr class="features-image-cards-separator" />
                  </div>
                </div>
              </div>
              <div class="features-image-cards-cardcol cp4cols cp6cols-tablet animated " style="opacity: 0;">
                <div class="features-image-cards-cardrow">
                  <img class="features-image-cards-featimg" src="rsc/img/subiendo.jpeg" />
                  <div class="features-image-cards-cardtextrow" data-type="column">
                    <h4 class=""> {{t.features_title}} </h4>
                    <p class=""> {{t.features_sub}} </p>

                    <hr class="features-image-cards-separator" />
                  </div>
                </div>
              </div>
              <div class="features-image-cards-cardcol cp4cols cp6cols-tablet animated " style="opacity: 0;">
                <div class="features-image-cards-cardrow">
                  <img class="features-image-cards-featimg" src="rsc/img/atras.jpeg" />
                  <div class="features-image-cards-cardtextrow" data-type="column">
                    <h4 class=""> {{t.features_2_title}} </h4>
                    <p class="">
                      {{t.features_2_sub}}
                    </p>
                    <hr class="features-image-cards-separator" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-label="About" data-id="about-images-right-section" data-category="about"
          class="about-images-right-section" id="about-3" style="background-color: #ffffff;">
          <div class="gridContainer dynamic-color">
            <div class="about-images-right-innerrow dynamic-color imgFour">
              <div class="about-images-right-textcol treeFour" data-type="column">
                <h5 class="animated " style="opacity: 0;"> {{t.about_1}} </h5>
                <h2 class="about-images-right-bigtitle animated " style="opacity: 0;">
                  {{t.about_2}} <span href="#" class="span24">{{t.about_3}} &nbsp;</span>{{t.about_4}}
                </h2>
                <p class="animated " style="opacity: 0;"> {{t.about_sub}} </p>
              </div>
              <div class="img-container-end">
                <div>
                  {{!-- <img src="rsc/img/DSC04332.JPG" /> --}}
                  <img src="rsc/img/DSC04499.JPG" />
                  <img src="rsc/img/cocina1.jpeg" />
                  <img src="rsc/img/cocina2.jpeg" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="content-5" style="background-color: #f6f6f6;" data-label="Content" data-id="content-image-left"
          data-category="content" class="content-left-image-section">
          <div class="gridContainer">
            <div class="row">
              <div class="content-left-image-imgcol" data-type="column">
                {{#if showVideoEn}}
                <!-- ingles -->
                <iframe id="welcomeVideo" width="100%" height="300px" src="https://www.youtube.com/embed/U9Y-h-kk764"
                  frameborder="0" allowfullscreen></iframe>
                {{else}}
                <!-- spanish -->
                <iframe id="welcomeVideo" width="100%" height="300px" src="https://www.youtube.com/embed/in6awjYJIpI"
                  frameborder="0" allowfullscreen></iframe>
                {{/if}}
              </div>
              <div class="content-left-image-textcol dynamic-color treeEnd" data-type="column">
                <h2 class="animated " style="opacity: 0;"> {{t.sectionVideo}} </h2>
                <p style="opacity: 0;" class="animated large_text">
                  {{t.sectionVideo_sub}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="row_201">
            <div class="column_209 gridContainer">
              <div class="row_202">
                <div class="column_210"
                  onclick="window.location='https://www.google.com/maps/place/20.966649,%20-75.718777'">
                  <img src="./assets/map-marker-alt-solid.svg" style="height: 40px;margin-bottom: 27px;" />
                  <p>
                    {{t.iglesiaStreet}} # 4312 “B”
                  </p>
                </div>
                <div class="column_210" onclick="window.location='mailto:osmanisrod@nauta.cu'">
                  <img src="./assets/envelope-regular.svg" style="height: 40px;margin-bottom: 27px;" />
                  <p>
                    osmanisrod@nauta.cu
                  </p>
                </div>
                <div class="column_210 last-footer-item" onclick="window.location='tel:+5352389302'">
                  <img src="./assets/phone-alt-solid.svg" style="height: 40px;margin-bottom: 27px;" />
                  <p>
                    +(53) 5238 - 9302
                  </p>
                </div>
                <div class="footer-column-colored-1">
                  <div>
                    {{!-- <div class="row_205">
                      <a href="https://www.facebook.com/Royal-Villa-1181254258707138/" target="_blank">
                        <img src="./assets/facebook-f-brands.svg" style="height: 20px;" />
                      </a>
                    </div> --}}
                  </div>
                  <p class="paragraph10">&copy;&nbsp;&nbsp;&nbsp;{{t.rental_house}} Osmany.&nbsp; <i>Banes,
                      Holguin</i>.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Root element of PhotoSwipe. Must have class pswp. -->
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Background of PhotoSwipe. 
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">
      <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
      <div class="pswp__container">
        <!-- don't modify these 3 pswp__item elements, data is added later on -->
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>

      <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
          <!--  Controls are self-explanatory. Order can be changed. -->

          <div class="pswp__counter"></div>

          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

          <button class="pswp__button pswp__button--share" title="Share"></button>

          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

          <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

          <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
          <!-- element will get class pswp__preloader--active when preloader is running -->
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div>
        </div>

        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script src="./js/photoswipe.min.js"></script>
  <script src="./js/photoswipe-ui-default.min.js"></script>
  <script src="js/scripts.js"></script>
</body>